html, body {
  background-color: black;
  margin: 5%;
  padding: 0;
  color: green;
  font-size: x-large;
}
canvas {
  display: block;
}
#footer{
  font-size: large;
  position: absolute;
  bottom: 10px;
  width: 50%;
  border: 3px solid #8AC007;
}